<div id="theme-toggle-group" class="flex flex-row justify-end">
  <input type="checkbox" id="theme-toggle" hidden aria-label="Switch theme">
  <label for="theme-toggle" class="theme-toggle-label no-select"></label>
</div>