/* Color palette */
:root {
  --background-light: #fdfdfd;
  --background-dark: #212121;

  --text-light: var(--background-dark);
  --text-dark: var(--background-light);

  --link-light: var(--background-dark);
  --link-dark: var(--background-light);
  --link-hover-color: #999;
}

/* Light theme */
:root {
  --background-color: var(--background-light);
  --text-color: var(--text-light);
  --link-color: var(--link-light);
  --theme-toggle-label: var(--theme-toggle-label-light);
}

/* Dark theme */
:root[data-theme='dark'],
:has(#theme-toggle:checked) {
  --background-color: var(--background-dark);
  --text-color: var(--text-dark);
  --link-color: var(--link-dark);
  --theme-toggle-label: var(--theme-toggle-label-dark);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: var(--background-dark);
    --text-color: var(--text-dark);
    --link-color: var(--link-dark);
    --theme-toggle-label: var(--theme-toggle-label-dark);
  }

  :root[data-theme='light'],
  :has(#theme-toggle:checked) {
    --background-color: var(--background-light);
    --text-color: var(--text-light);
    --link-color: var(--link-light);
    --theme-toggle-label: var(--theme-toggle-label-light);
  }
}

/* Decorators */
.flex-row-item:not(:last-child)::after {
  content: '∙';
  color: var(--link-hover-color);
  margin-left: 0.5em;
}
.bracket-wrap::before {
  content: '[';
  color: var(--link-hover-color);
}
.bracket-wrap::after {
  content: ']';
  color: var(--link-hover-color);
}
.separator::after {
  content: ' //// ';
  color: var(--link-hover-color);
}

/* Theme toggle */
label[for='theme-toggle']:hover {
  cursor: pointer;
  color: var(--link-hover-color);
}
.theme-toggle-label::after {
  content: '';
  display: inline-block;
  height: 1.1rem;
  width: 1.1rem;
  background-color: var(--text-color);

  -webkit-mask-image: var(--theme-toggle-label);
  mask-image: var(--theme-toggle-label);
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  vertical-align: middle;
}
.theme-toggle-label:hover::after {
  background-color: var(--link-hover-color);
}

/* Highlighter */
.highlight {
  background-color: var(--link-color);
  color: var(--background-color);
  padding: 0.15em;
  transition: background-color 300ms ease;
}

/* Themed links */
a {
  color: var(--link-color);
  text-decoration-style: dashed;
  text-underline-offset: 4px;
}
a:hover {
  color: var(--link-hover-color);
}
